<div class="modal fade" id="new_bookmark_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add to My Invaders</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <%= simple_form_for [invader, bookmark] do |f| %>
        <div class="modal-body">
          <%= f.input :note, placeholder: "Add a note" %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Add", class: "btn btn-flat" %>
          <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Back</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
