.container-cities {
  padding-top: 70px;
  padding-left: 10px;
  padding-right: 10px;
}

.city-marker {
  height: 4vh;
  width: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city-marker a {
  color: #0EFF00 !important;
  padding: 0;
  margin: 0 !important;
  font-family: 'VT323', monospace;
  font-size: 150%;
  text-align: center;
}

.city-marker a:hover {
  color: #FFF103 !important;
  padding: 0;
  margin: 0 !important;
  font-family: 'VT323', monospace;
  font-size: 150%;
  text-align: center;
}

.mapboxgl-map {
  margin-bottom: 4%;
}

.cities {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
  grid-gap: 0.75rem; /* To define the gap between rows/columns */
  gap: 0.75rem;
  padding: 0.75rem;
}

.cities a {
font-size: 120%;
}

.country-info {
  display: flex;
  align-items: center;
  margin-top: 2%
}

.country-info h4 {
  margin-bottom: 0;
  padding-left: 1%;
}
