.container-home {
  padding-top: 70px;
  padding-left: 30px;
  padding-right: 30px;
}

.banner {
  position: relative;
  height: 50vh;
  width: 100%;
  margin-top: 10vh;
}

.banner::before {
  content: "";
  background-image: url('invader_home.png');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
  background-position: center;
}

.banner h1 {
  position: relative;
  color: #ffffff;
  font-size: 14rem;
  line-height: 0.9;
  text-align: center;
}
