.container-invaders {
  padding-top: 70px;
  padding-left: 30px;
  padding-right: 30px;
}

.search {
  color: white;
}

.search #query {
  border-radius: 0;
  border: solid;
  border-color: white;
  margin-top: 8px;
}

.search .check-boxes {
  margin-top: 8px;
  margin-bottom: 8px;
}
