.modal-content {

}


.mapping-input {
  display: flex;
  justify-content: space-between;
}

.mapping-input img {
height: 100%
}

.mapping-output {
  display: flex;
  justify-content: space-between;
}
