<div class="navbar-flashed">
  <a class="navbar-brand" href="#">
    <%= image_tag "logo.png", alt:"Flashed", class: "img"%>
  </a>
  <div class="navbar-items">
    <a class="nav-link" href="#">Home</a>
    <a class="nav-link" href="#">Radar</a>
    <a class="nav-link" href="#">MyInvaders</a>
    <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<%= asset_path('avatar.png') %>" />
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
    </div>
  </div>
</div>
