<div class="container-radar" data-controller="user-location">

<button data-action="click->user-location#getCoordinates"> CLICK HERE </button>

<p data-user-location-target="coordinates">Coordinates :</p>
</div>
