.btn-green {
  border-radius: 0 !important;
  background-color: #0EFF00;
  border: solid;
  border-color: #0EFF00;
  color: black !important;
  padding: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.btn-red {
  border-radius: 0 !important;
  background-color: #ff1e1a;
  border: solid;
  border-color: #ff1e1a;
  color: white !important;
  padding: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
}
