.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.invader-card {
  text-align: center;
  border: solid;
  border-color: white;
  margin: 5px;
  box-shadow: 0 0 22px -7px #fff;
}

.invader-card .card-image {
  width: 100%;
  object-fit: cover;
}
