.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
  grid-gap: 0.75rem; /* To define the gap between rows/columns */
  gap: 0.75rem;
  padding: 0.75rem;
}

.invader-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.invader-card-container p {
  margin-bottom: 4px;
}

.invader-card {
  aspect-ratio: 1/1;
  text-align: center;
  border: solid;
  border-color: white;
  margin: 5px;
  width: 85%;
  box-shadow: 0 0 22px -7px #fff;
  align-self: center;
  position: relative;
}

.invader-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.invader-card .flashed {
  position: absolute;
  top: 2%;
  left: 2%;
  height: 25%;
}

.invader-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  z-index: 110;
  height: 20%;
  width: 100%;
  background: white;
  padding-bottom: 5%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 4%;
}

.invader-info img {
color: black !important;
margin: 0 !important;
height: 170%;
}
