.navbar-flashed {
  justify-content: space-between;
  background-color: transparent;
  color: white;
  position: fixed;
  overflow: hidden;
  height: 10vh;
  width: 100%;
  z-index: 100;
}

.navbar-flashed .navbar-collapse {
  flex-grow: 0;
}

.navbar-flashed .navbar-brand img {
  width: 60px;
}
