.navbar-flashed {
  justify-content: space-between;
  background: rgb(2, 0, 0);
  color: white;
  position: fixed;
  overflow: hidden;
  width: 100%;
  z-index: 100;
}

.navbar-flashed .navbar-collapse {
  flex-grow: 0;
}

.navbar-flashed .navbar-brand img {
  width: 40px;
}
