.navbar-flashed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  position: fixed;
  background: black;
  z-index: 150;
  width: 100%;
}

.navbar-flashed .navbar-brand img {
  width: 60px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand h4 {
  margin-bottom: 0 !important;
}

.navbar-flashed .navbar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 150%;
}

.navbar-flashed .nav-link {
  padding-left: 5px;
  padding-right: 5px;
}

.navbar-flashed .navbar-items img {
  background-color: white;
}

.navbar-flashed .dropdown-menu {
  background: transparent;
}
