
<div class="container-cities">
  <h2>World Invasion</h2>
  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <h3>Cities :</h3>
  <ul>
    <% @countries.each do |country| %>
      <h4><%= country %></h4>
      <div class="cities">
        <% @cities.where(country: country).each do |city| %>
          <%= link_to "#{city.name} (#{city.invaders.count})", city_path(city) %>
        <% end %>
      </div>
    <% end %>
  </ul>
</div>
