<div class="container-city">
  <%= link_to "Back to Cities", cities_path  %>
  <div class="cards">
    <% @invaders.each do |invader| %>
      <div class="invader-card-container">
        <%= render "invaders/invader-card", invader: invader %>
        <p><%= invader.name %></p>
      </div>
    <% end %>
  </div>
</div>

<script>

// Get all "open modal" buttons
const openModalButtons = document.querySelectorAll('.add');
// Identify the modal that's open
openModalButtons.forEach((button) => {
  button.addEventListener('click', (event) => {
// Get the ID of the open modal
    const modalId = button.getAttribute('data-bs-target');
    const modal = document.querySelector(`${modalId}`);
// Find the Target button
    const target = modal.querySelector('#target');
    const latValue = modal.querySelector('#bookmark_lat');
    const lngValue = modal.querySelector('#bookmark_lng');
    target.addEventListener('click', (event) => {
// get User Coordinates;
      navigator.geolocation.getCurrentPosition((info) => {
      const lat = info.coords.latitude;
      const lng = info.coords.longitude;
// Put Coordinates in Form;
      latValue.value = lat;
      lngValue.value = lng;
      });
    });
  });
});


</script>
