<div class="invader-card" style="background-image: url(
  <% if invader.photo.attached? %>
    <%= cl_image_tag invader.photo.key%>
  <% else %>
    <%=invader.url %>
  <% end %>
  ); background-size: cover; background-position: center;">
  <%= link_to "", invader_path(invader), class:"invader-card-link" %>
  <div class="invader-name">
  </div>
</div>
