<div class="invader-card" style="background-image: url(
  <% if invader.photo.attached? %>
    <%= cl_image_tag invader.photo.key%>
  <% else %>
    <%=invader.url %>
  <% end %>
  ); background-size: cover; background-position: center;">
  <p><%= link_to invader.name, invader_path(invader) %></p>
  <p><%= invader.status %></p>
  </div>
