<div class="container-invaders">
  <%= link_to "Back to Home", "/"  %>
  <div class="cards">
    <% @invaders.each do |invader| %>
      <div class="invader-card">
        <p><%= link_to invader.name, invader_path(invader) %></p>
        <p><%= invader.status %></p>
        <p><%= invader.city.name %></p>
      </div>
    <% end %>
  </div>
</div>
